<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.wechat.dao.EmailMapper">
  <resultMap id="BaseResultMap" type="com.zt.wechat.model.Email">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="receiver_postcode" jdbcType="VARCHAR" property="receiverPostcode" />
    <result column="receiver_number" jdbcType="VARCHAR" property="receiverNumber" />
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    <result column="sender_address" jdbcType="VARCHAR" property="senderAddress" />
    <result column="sender_postcode" jdbcType="VARCHAR" property="senderPostcode" />
    <result column="sender_number" jdbcType="VARCHAR" property="senderNumber" />
    <result column="imageID" jdbcType="VARCHAR" property="imageid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, receiver_name, receiver_address, receiver_postcode, receiver_number, sender_name, 
    sender_address, sender_postcode, sender_number, imageID
  </sql>
  <select id="selectByExample" parameterType="com.zt.wechat.model.EmailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from email
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from email
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zt.wechat.model.EmailExample">
    delete from email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zt.wechat.model.Email">
    insert into email (ID, receiver_name, receiver_address, 
      receiver_postcode, receiver_number, sender_name, 
      sender_address, sender_postcode, sender_number, 
      imageID)
    values (#{id,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR}, 
      #{receiverPostcode,jdbcType=VARCHAR}, #{receiverNumber,jdbcType=VARCHAR}, #{senderName,jdbcType=VARCHAR}, 
      #{senderAddress,jdbcType=VARCHAR}, #{senderPostcode,jdbcType=VARCHAR}, #{senderNumber,jdbcType=VARCHAR}, 
      #{imageid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zt.wechat.model.Email">
    insert into email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="receiverAddress != null">
        receiver_address,
      </if>
      <if test="receiverPostcode != null">
        receiver_postcode,
      </if>
      <if test="receiverNumber != null">
        receiver_number,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="senderAddress != null">
        sender_address,
      </if>
      <if test="senderPostcode != null">
        sender_postcode,
      </if>
      <if test="senderNumber != null">
        sender_number,
      </if>
      <if test="imageid != null">
        imageID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverPostcode != null">
        #{receiverPostcode,jdbcType=VARCHAR},
      </if>
      <if test="receiverNumber != null">
        #{receiverNumber,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="senderAddress != null">
        #{senderAddress,jdbcType=VARCHAR},
      </if>
      <if test="senderPostcode != null">
        #{senderPostcode,jdbcType=VARCHAR},
      </if>
      <if test="senderNumber != null">
        #{senderNumber,jdbcType=VARCHAR},
      </if>
      <if test="imageid != null">
        #{imageid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zt.wechat.model.EmailExample" resultType="java.lang.Long">
    select count(*) from email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update email
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverName != null">
        receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverAddress != null">
        receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverPostcode != null">
        receiver_postcode = #{record.receiverPostcode,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverNumber != null">
        receiver_number = #{record.receiverNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.senderName != null">
        sender_name = #{record.senderName,jdbcType=VARCHAR},
      </if>
      <if test="record.senderAddress != null">
        sender_address = #{record.senderAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.senderPostcode != null">
        sender_postcode = #{record.senderPostcode,jdbcType=VARCHAR},
      </if>
      <if test="record.senderNumber != null">
        sender_number = #{record.senderNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.imageid != null">
        imageID = #{record.imageid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update email
    set ID = #{record.id,jdbcType=VARCHAR},
      receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      receiver_postcode = #{record.receiverPostcode,jdbcType=VARCHAR},
      receiver_number = #{record.receiverNumber,jdbcType=VARCHAR},
      sender_name = #{record.senderName,jdbcType=VARCHAR},
      sender_address = #{record.senderAddress,jdbcType=VARCHAR},
      sender_postcode = #{record.senderPostcode,jdbcType=VARCHAR},
      sender_number = #{record.senderNumber,jdbcType=VARCHAR},
      imageID = #{record.imageid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zt.wechat.model.Email">
    update email
    <set>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverPostcode != null">
        receiver_postcode = #{receiverPostcode,jdbcType=VARCHAR},
      </if>
      <if test="receiverNumber != null">
        receiver_number = #{receiverNumber,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        sender_name = #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="senderAddress != null">
        sender_address = #{senderAddress,jdbcType=VARCHAR},
      </if>
      <if test="senderPostcode != null">
        sender_postcode = #{senderPostcode,jdbcType=VARCHAR},
      </if>
      <if test="senderNumber != null">
        sender_number = #{senderNumber,jdbcType=VARCHAR},
      </if>
      <if test="imageid != null">
        imageID = #{imageid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zt.wechat.model.Email">
    update email
    set receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_postcode = #{receiverPostcode,jdbcType=VARCHAR},
      receiver_number = #{receiverNumber,jdbcType=VARCHAR},
      sender_name = #{senderName,jdbcType=VARCHAR},
      sender_address = #{senderAddress,jdbcType=VARCHAR},
      sender_postcode = #{senderPostcode,jdbcType=VARCHAR},
      sender_number = #{senderNumber,jdbcType=VARCHAR},
      imageID = #{imageid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>